/* header */
.table_header {
	color: #555;
	margin-bottom: 0.2rem;
}
/* content */
.table_content {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid #c0c0c0;
}
.table_content th {
	background-color: #ddd;
	color: #555;
	border: 1px solid #c0c0c0;
	border-top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-right: 1rem;
	background-position: right;
	background-repeat: no-repeat;
}
.table_content th.sort_ascending {
	background-image: url(bullet_arrow_up.png);
}
.table_content th.sort_descending {
	background-image: url(bullet_arrow_down.png);
}
.table_content tr {
	border: 1px solid #c0c0c0;
}
.table_content tr.odd {
	background-color: #fafafa;
}
.table_content tr.even {
	background-color: white;
}
.table_content tr:hover {
	background-color: #e8e8e8;
}
.table_content td {
	overflow: hidden;
	border: 1px solid #c0c0c0;
	padding: 0.2rem;
	margin: 0;
}
/* footer */
.table_footer {
	display: flex;
	background-color: #ddd;
	color: #555;
	border: 1px solid #c0c0c0;
	border-top: 0;
	padding: 0.2rem;
	margin: 0;
}
.table_footer > * {
	margin: 0.2rem;
}
.table_footer_search input {
	margin: 0 0.5rem;
	vertical-align: middle;
	border-radius: 2px;
	border: 1px solid #C0C0C0;
}
.table_footer_search img {
	vertical-align: middle;
	padding: 0 1px;
	margin-bottom: 1px;
	margin-right: 0.5rem;
}
.table_footer_buttons {
	flex-grow: 2;
}
.table_footer_buttons .button {
	color: #484848;
	font-weight: bold;
	text-decoration: none;
	background-color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f7f7f7, #d1d1d1);
	border: 1px solid #7F7F7F;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	padding: 0 0.5rem;
	cursor: pointer;
}
.table_footer_buttons .button:hover {
	background-color: #ddd;
	background-image: linear-gradient(to bottom, #ddd, #d1d1d1);
}
.table_footer_controls {
	background-color: #f7f7f7;
	background-image: linear-gradient(to bottom, #f7f7f7, #d1d1d1);
	border: 1px solid #7F7F7F;
	border-radius: 2px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.table_footer_controls button {
	outline: none;
	border: 0;
	border-right: 1px solid #7f7f7f;
	height: 100%;
	width: 1.5rem;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
}
.table_footer_controls button:hover {
	background-color: #ddd;
	background-image: linear-gradient(to bottom, #ddd, #d1d1d1);
}
.table_footer_controls button[disabled] {
	opacity: 0.2;
	cursor: auto;
}
.table_footer_controls button.control_first {
	background-image: url(resultset_first.png);
}
.table_footer_controls button.control_previous {
	background-image: url(resultset_previous.png);
}
.table_footer_controls button.control_next {
	background-image: url(resultset_next.png);
}
.table_footer_controls button.control_last {
	background-image: url(resultset_last.png);
	border: 0;
}
.table_footer_info {
	margin-left: 0.5rem;
}
